<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Crabfactory</title>
    <meta name="description" content="Portfolio page for Yitao Xiong">
    <meta name="author" content="Yitao Xiong">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">
  </head>
  <body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="cover">
      <canvas id="cover_canvas"></canvas>
      <h>Crabfactory</h>
      <h1>LEARNING TO DESIGN</h1>
    </div>
    <div class="content">
      <nav class="nav-collapse">
        <ul>
          <li>
            <div>HOME</div>
          </li><li>
            <div>ABOUT</div>
          </li><li>
            <div>LIFE EVENT</div>
          </li><li>
            <div>SKILL</div>
          </li><li>
            <div>PROJECT</div>
          </li>
        </ul>
      </nav>
      <div class="content_wrapper">
        <div class="section container about">
          <div class="row about">
            <div class="row">
              <div class="section_label">ABOUT</div>
            </div>
            <div class="row">
              <div class="one-third column">
                <div class="info_block">
                  <h>What is this?</h>
                  <p>This is Yitao Xiong's personal portfolio web page.</p>
                </div>
              </div>
              <div class="one-third column">
                <div class="info_block">
                  <h>Who is Yitao?</h>
                  <p>A web developer who started to learn some UI design.</p>
                </div>
              </div>
              <div class="one-third column">
                <div class="info_block">
                  <h>Why Crabfactory?</h>
                  <p>It is a misspell of crapfactory, turns out it sounds more fun.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section life_event">
          <div class="life_event_cover">
            <div class="container">
              <div class="row">
                <div class="section_label">LIFE EVENT</div>
              </div>
              <div id="life_events" class="row">
                <div class="life_event_block">
                  <div class="life_event_icon is_hidden">
                    <span class="icon-office"></span>
                  </div>

                  <div class="life_event_content is_hidden">
                    <h>Beihang University, Beijing, China</h>
                    <p>Sept. 2008 - July 2012</p>
                    <p>Bachelor Degree of Computer Science and Engineering</p>
                  </div>
                </div>
                <div class="life_event_block">
                  <div class="life_event_icon is_hidden">
                    <span class="icon-library"></span>
                  </div>
                  <div class="life_event_content is_hidden">
                    <h>Northeastern University, Boston, MA</h>
                    <p>Sept. 2012 - Jan. 2015</p>
                    <p>Master Degree of Computer Science</p>
                  </div>
                </div>
                <div class="life_event_block">
                  <div class="life_event_icon is_hidden">
                    <span class="icon-briefcase"></span>
                  </div>
                  <div class="life_event_content is_hidden">
                    <h>BitSight Technology, Boston, MA</h>
                    <p>Feb. 2015 - present</p>
                    <p>Software Engineer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section container skill" id="skill-particles">
          <div class="row">
            <div class="section_label">SKILL</div>
          </div>
          <div class="row">
            <div class="skill_timeline"></div>
            <div class="skill_timeline_container"></div>
            <div class="skill_timebar_container"></div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
  <script src="static/js/jquery-1.12.0.min.js"></script>
  <script src="static/js/jquery.mousewheel.min.js"></script>
  <script src="static/js/jquery.scrollTo.min.js"></script>
  <script src="static/js/particles.min.js"></script>
  <script src="static/js/control.js"></script>
</html>
