{% load static %}
{% load url from future %}
<html>
    <head>
        <title>Crabfactory</title>
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}home/css/background.css">
        <link rel="shortcut icon" href="{% get_static_prefix %}home/img/crab_logo.ico">
    </head>
    <body class="preload">
        <div id="skrollr-body"></div>
        <section id="slide-1" class="slide">
            <div class="content_background">
                <div class="content_container">
                    <div id="content_1" class="content">
                        <img id="content_idle" src="{% get_static_prefix %}home/img/crabfactory_huge.png"></img>
                    </div>
                </div>
            </div>
        </section>
        <section id="slide-2" class="slide">
            <div class="content_background">
                <div class="content_container">
                    <div id="content_2" class="content">
                        <h id="introduction_title">Introduction</h>
                        <div id="basic_info_container">
                            <div id="basic_info_title">
                                <p>Basic Information</p>
                            </div>
                            <div id="basic_info_photo">
                                <img id="photo_of_me" src="{% get_static_prefix %}home/img/photo_of_me.png"></img>
                                <p id="basic_info_name">Yitao Xiong</p>
                                <p id="basic_info_from">Chongqing, China</p>
                            </div>
                            <div id="basic_info_label">
                                <div id="basic_info_label_1" class="basic_info_label">
                                    <p>Programmer</p>
                                </div>
                                <div id="basic_info_label_2" class="basic_info_label">
                                    <p>Big Gamer</p>
                                </div>
                                <div id="basic_info_label_3" class="basic_info_label">
                                    <p>Music Lover</p>
                                </div>
                            </div>
                            <div id="basic_info_education">
                                <p>Education:<br>
                                    Northeastern University&nbsp&nbsp&nbsp(2012-2014)<br>
                                    Master degree in Computer Science</p>
                                <p>Beihang University&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(2008-2012)<br>
                                    Bachalor degree in Computer Science</p>
                            </div>
                        </div>
                        <div id="detail_info_container">
                            <div id="detail_info_title">
                                <p>Details about me</p>
                            </div>
                            <p id="detail_info_description">
                                Hi there, this is Yitao.<br>
                                During my 4 years in college, I've done many different kinds of projects, including C, Java, C#, Android programming.<br>
                                My graduate project was to make an NLP training program called Giza++ able to run a multitask, Hadoop was used in that project.<br>
                                Now I'm really interested in Web Developping, both the frontend and backend stuff.
                            </p>
                            <div id="detail_info_category">
                                <div id="detail_info_basic" class="detail_info">
                                    <div id="detail_info_basic_bg" class="detail_info_category_bg"></div>
                                    <h>Basic</h>
                                    <p>50,000+ lines in C and Java<br>
                                        Mainly using Python currently<br>
                                        Also used C# before<br>
                                        Know MySQL and PostgreSQL</p>
                                </div>
                                <div id="detail_info_ui_design" class="detail_info">
                                    <div id="detail_info_ui_design_bg" class="detail_info_category_bg"></div>
                                    <h>UI design</h>
                                    <p>Once designed an Android UI<br>
                                        And also a Flex project UI<br>
                                        Familiar with Photoshop</p>
                                </div>
                                <div id="detail_info_web_development" class="detail_info">
                                    <div id="detail_info_web_development_bg" class="detail_info_category_bg"></div>
                                    <h>Web Dev</h>
                                    <p>Started with ASP.Net<br>
                                        Learned Django during my Co-op<br>
                                        Tried LESS, AngularJS, BootStrap etc.</p>
                                </div>
                                <div id="detail_info_linux" class="detail_info">
                                    <div id="detail_info_linux_bg" class="detail_info_category_bg"></div>
                                    <h>Linux</h>
                                    <p>Familiar with common commands<br>
                                        A big fan of VIM<br>
                                        Also a big fan of Git</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="slide-3" class="slide">
            <div class="content_background">
                <div class="content_container">
                    <div id="content_3" class="content">
                        <h id="skill_title">Skill</h>
                        <div id="front_end_skill" class="skill_container">
                            <div id="front_end_icon" class="circle">
                                <img src="{% get_static_prefix %}home/img/front_end_icon.png"></img>
                            </div>
                            <div id="front_end_skill_background" class="skill_background">
                                <img src="{% get_static_prefix %}home/img/front_end_background.png"></img>
                            </div>
                            <div id="html5_container" class="knob_container">
                                <input type="text" value="0" id="html5" class="knob"
                                       readOnly="true"
                                       data-width="170"
                                       data-thickness=".18"
                                       data-fgColor="rgba(163, 215, 113, .8)">
                            </div>
                            <div id="css3_container" class="knob_container">
                                <input type="text" value="0" id="css3" class="knob"
                                       readOnly="true"
                                       data-width="210"
                                       data-thickness=".15"
                                       data-fgColor="rgba(163, 215, 113, .6)">
                            </div>
                            <div id="javascript_container" class="knob_container">
                                <input type="text" value="0" id="javascript" class="knob"
                                       readOnly="true"
                                       data-width="250"
                                       data-thickness=".13"
                                       data-fgColor="rgba(163, 215, 113, .4)">
                            </div>
                            <div id="angularjs_container" class="knob_container">
                                <input type="text" value="0" id="ui_design"class="knob"
                                       readOnly="true"
                                       data-width="290"
                                       data-thickness=".11"
                                       data-fgColor="rgba(163, 215, 113, .2)">
                            </div>
                            <div id="ui_design_container" class="knob_container">
                                <input type="text" value="0" id="angularjs" class="knob"
                                       readOnly="true"
                                       data-width="330"
                                       data-thickness=".1"
                                       data-fgColor="rgba(163, 215, 113, .1)">
                            </div>
                        </div>
                        <div id="back_end_skill" class="skill_container">
                            <div id="back_end_icon" class="circle">
                                <img src="{% get_static_prefix %}home/img/back_end_icon.png"></img>
                            </div>
                            <div id="back_end_skill_background" class="skill_background">
                                <img src="{% get_static_prefix %}home/img/back_end_background.png"></img>
                            </div>
                            <div id="django_container" class="knob_container">
                                <input type="text" value="0" id="django" class="knob"
                                       readOnly="true"
                                       data-width="190"
                                       data-thickness=".25"
                                       data-fgColor="rgba(247, 218, 104, .8)">
                            </div>
                            <div id="postgres_container" class="knob_container">
                                <input type="text" value="0" id="postgres" class="knob"
                                       readOnly="true"
                                       data-width="250"
                                       data-thickness=".2"
                                       data-fgColor="rgba(247, 218, 104, .6)">
                            </div>
                            <div id="asp_dot_net_container" class="knob_container">
                                <input type="text" value="0" id="asp_dot_net" class="knob"
                                       readOnly="true"
                                       data-width="310"
                                       data-thickness=".16"
                                       data-fgColor="rgba(247, 218, 104, .4)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="slide-4" class="slide">
            <div class="content_background">
                <div class="content_container">
                    <div id="content_4" class="content">
                        <div id="project_menu">
                            <div id="crabfactory_icon" class="circle project_icons" onclick="display_project('crabfactory')">
                            </div>
                            <div id="todo_list_icon" class="circle project_icons" onclick="display_project('todo_list')">
                            </div>
                            <div id="web_resume_icon" class="circle project_icons" onclick="display_project('web_resume')">
                            </div>
                        </div>
                        <div id="project_content">
                            <div id="project_intro">
                                <img id="project_locator" class="project_animation_standby"
                                     src="{% get_static_prefix %}home/img/project_locator.png"></img>
                                <div id="project_locator_background" class="project_animation_standby"></div>
                            </div>
                            <div id="project_snap" class="project_animation_standby">
                            </div>
                            <div id="project_description" class="project_animation_standby">
                            </div>
                            <div id="project_back" class="project_animation_standby" onclick="back_to_project_menu()">
                                Back
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="menu_bar">
            <div id="center_icon" class="circle">
                <img id="center_img" src="{% get_static_prefix %}home/img/crab_logo.png"></img>
            </div>
            <div id="center_icon_shadow" class="circle" onclick="scroll_to('#slide-1')"></div>
            <div id="intro_icon" class="normal_icon circle" onclick="scroll_to('#slide-2')">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/intro_icon.png"></img>
                <div class="cn_in_circle">简介</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Intro</div>
            </div>
            <div id="skill_icon" class="normal_icon circle" onclick="scroll_to('#slide-3')">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/skill_icon.png"></img>
                <div class="cn_in_circle">技能</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Skill</div>
            </div>
            <div id="project_icon" class="normal_icon circle" onclick="scroll_to('#slide-4')">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/project_icon.png"></img>
                <div class="cn_in_circle">项目</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Project</div>
            </div>
            <div id="contact_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/contact_icon.png"></img>
                <div class="cn_in_circle">联系</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Contact</div>
            </div>
            <div id="resume_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/resume_icon.png"></img>
                <div class="cn_in_circle">简历</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Resume</div>
            </div>
            <div id="about_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/about_icon.png"></img>
                <div class="cn_in_circle">关于</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">About</div>
            </div>
        </div>
    </body>
    <script src="{% get_static_prefix %}library/jquery.min.js"></script>
    <script src="{% get_static_prefix %}library/waypoints.min.js"></script>
    <script src="{% get_static_prefix %}library/jquery.scrollTo.min.js"></script>
    <script src="{% get_static_prefix %}library/jquery.knob.min.js"></script>
    <script src="{% get_static_prefix %}home/js/background.js"></script>
</html>
