{% load static %}
{% load url from future %}
<html>
    <head>
        <title>Crabfactory</title>
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}home/css/background.css"/>
        <link rel="shortcut icon" href="{% get_static_prefix %}home/img/crab_logo.ico" >
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body class="preload">
        <div id="content_container">
            <div id="content_idle_container">
                <img id="content_idle" src="{% get_static_prefix %}home/img/crabfactory_huge.png"></img>
            </div>
        </div>
        <div id="menu_bar">
            <div id="center_icon" class="circle">
                <img id="center_img" src="{% get_static_prefix %}home/img/crab_logo.png"></img>
            </div>
            <div id="center_icon_shadow" class="circle"></div>
            <div id="intro_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/intro_icon.png"></img>
                <div class="cn_in_circle">简介</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Intro</div>
            </div>
            <div id="skill_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/skill_icon.png"></img>
                <div class="cn_in_circle">技能</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Skill</div>
            </div>
            <div id="project_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/project_icon.png"></img>
                <div class="cn_in_circle">项目</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Project</div>
            </div>
            <div id="social_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/social_icon.png"></img>
                <div class="cn_in_circle">社交</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Social</div>
            </div>
            <div id="resume_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/resume_icon.png"></img>
                <div class="cn_in_circle">简历</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Resume</div>
            </div>
            <div id="about_icon" class="normal_icon circle">
                <img class="img_in_circle" src="{% get_static_prefix %}home/img/about_icon.png"></img>
                <div class="cn_in_circle">关于</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">About</div>
            </div>
        </div>
    </body>
    <script src="{% get_static_prefix %}library/jquery.min.js"></script>
</html>
