{% load static %}
{% load url from future %}
<html>
    <head>
        <title>Crabfactory</title>
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}home/css/background.css"/>
    </head>
    <body class="preload">
        <div id="menu_bar">
            <div id="center_icon" class="circle"></div>
            <div id="center_icon_shadow" class="circle"></div>
            <div id="intro_icon" class="normal_icon circle">
                <div class="cn_in_circle">简介</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Intro</div>
            </div>
            <div id="skill_icon" class="normal_icon circle">
                <div class="cn_in_circle">技能</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Skill</div>
            </div>
            <div id="project_icon" class="normal_icon circle">
                <div class="cn_in_circle">项目</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Project</div>
            </div>
            <div id="social_icon" class="normal_icon circle">
                <div class="cn_in_circle">社交</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Social</div>
            </div>
            <div id="resume_icon" class="normal_icon circle">
                <div class="cn_in_circle">简历</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">Resume</div>
            </div>
            <div id="about_icon" class="normal_icon circle">
                <div class="cn_in_circle">关于</div>
                <div class="line_in_circle"></div>
                <div class="en_in_circle">About</div>
            </div>
        </div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</html>
