body {
    margin: auto;
    width: 100%;
    height: 100%;
}

.preload {
    -webkit_transition: none !important;
    -moz_transition: none !important;
    transition: none !important;
}

#menu_bar {
    margin: auto;
    width: 100%;
    background-color: WHITESMOKE;
    position: fixed;
    bottom: 0;
}

@media screen and (max-height: 2000px) and (min-height: 400px) {
    #menu_bar {
        height: 125px;
    }
}

@media screen and (max-height: 400px) and (min-height: 100px) {
    #menu_bar {
        height: 110px;
    }
}

.circle {
    height: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.normal_icon {
    width: 6%;
    padding-bottom: 6%;
    position: absolute;
    bottom: 20px;
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

#center_icon, #center_icon_shadow {
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 46%;
    width: 8%;
    padding-bottom: 8%;
    border: solid 2px rgba(0, 0, 0, .5);
}

#center_icon {
    -webkit-box-shadow: 0 0 10px BLACK;
    -moz-box-shadow: 0 0 10px BLACK;
    box-shadow: 0 0 10px BLACK;
}

#center_img {
    width: 100%;
    height: 100%;
}

#center_icon_shadow {
    -webkit-animation-name: animation_shadow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -moz-animation-name: animation_shadow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-play-state: running;
    animation-name: animation_shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes animation_shadow {
    from {
        -webkit-transform: scale(1);
        opacity: .5;
    }
    to {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes animation_shadow {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes animation_shadow {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

.cn_in_circle {
    cursor: default;
    font-family: Mini;
    font-size: 1.6vw;
    color: WHITE;
    position: absolute;
    top: 15%;
    right: 5%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@font-face {
    font-family: 'Mini';
    src: url('../font/Mini/minijianyaya.eot');
    src: local('☺'),
         url('../font/Mini/minijianyaya.woff') format('woff'),
         url('../font/Mini/minijianyaya.ttf') format('truetype'),
         url('../font/Mini/minijianyaya.svg#Mini') format('svg');
}

.line_in_circle {
    border: 1px solid WHITE;
    width: 70%;
    position: absolute;
    top: 48%;
    right: 10%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.en_in_circle {
    cursor: default;
    font-size: 1.1vw;
    font-family: Raleway;
    color: WHITE;
    position: absolute;
    top: 55%;
    right: 30%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/raleway-regular-webfont.eot');
    src: local('☺'),
         url('../font/Raleway/raleway-regular-webfont.woff') format('woff'),
         url('../font/Raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../font/Raleway/raleway-regular-webfont.svg#Raleway') format('svg');
}

.img_in_circle {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.normal_icon:hover > .cn_in_circle {
    right: 28%;
    opacity: 1;
}

.normal_icon:hover > .line_in_circle {
    opacity: 1;
}

.normal_icon:hover > .en_in_circle {
    right: 15%;
    opacity: 1;
}

.normal_icon:hover > .img_in_circle {
    opacity: 0;
}

#intro_icon {
    background-color: rgba(120, 172, 219, 1);
    left: 15%;
}

#skill_icon {
    background-color: rgba(249, 162, 52, 1);
    left: 25%;
}

#project_icon {
    background-color: rgba(107, 193, 148, 1);
    left: 35%;
}

#contact_icon {
    background-color: rgba(215, 133, 165, 1);
    left: 59%;
}

#resume_icon {
    background-color: rgba(163, 143, 195, 1);
    left: 69%;
}

#about_icon {
    background-color: rgba(209, 28, 17, 1);
    left: 79%;
}





.slide {
    height: 50%;
    min-height: 400px;
}

#slide-1 {
    background: linear-gradient(#82a5d3, #69b6e4);
    background: -webkit-linear-gradient(#82a5d3, #69b6e4);
    background: -moz-linear-gradient(#82a5d3, #69b6e4);
}

#slide-2 {
    background: linear-gradient(#fff, #a8dfff);
    background: -webkit-linear-gradient(#fff, #a8dfff);
    background: -moz-linear-gradient(#fff, #a8dfff);
}

.border_connector {
    z-index: -100;
    width: 100%;
    margin-bottom: 10%;
    position: relative;
}
    
.connector_img {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
    
.content_background {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.content_container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.content {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
}

#content_idle {
    width: 60%;
}
