body {
    margin: auto;
    width: 100%;
    height: 100%;
}

.preload {
    -webkit_transition: none !important;
    -moz_transition: none !important;
    transition: none !important;
}

#menu_bar {
    margin: auto;
    width: 100%;
    background-color: WHITESMOKE;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 125px;
}

.circle {
    height: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.normal_icon {
    width: 6%;
    padding-bottom: 6%;
    position: absolute;
    bottom: 20%;
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

#center_icon, #center_icon_shadow {
    margin: auto;
    position: absolute;
    bottom: 10%;
    left: 46%;
    width: 8%;
    padding-bottom: 8%;
    border: solid 2px rgba(0, 0, 0, .5);
}

#center_icon {
    -webkit-box-shadow: 0 0 10px BLACK;
    -moz-box-shadow: 0 0 10px BLACK;
    box-shadow: 0 0 10px BLACK;
}

#center_img {
    width: 100%;
    height: 100%;
}

#center_icon_shadow_lalala {
    -webkit-animation-name: animation_shadow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -moz-animation-name: animation_shadow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-play-state: running;
    animation-name: animation_shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes animation_shadow {
    from {
        -webkit-transform: scale(1);
        opacity: .5;
    }
    to {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes animation_shadow {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes animation_shadow {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

.cn_in_circle {
    cursor: default;
    font-family: Mini;
    font-size: 1.6vw;
    color: WHITE;
    position: absolute;
    top: 15%;
    right: 5%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@font-face {
    font-family: 'Mini';
    src: url('../font/Mini/minijianyaya.eot');
    src: local('☺'),
         url('../font/Mini/minijianyaya.woff') format('woff'),
         url('../font/Mini/minijianyaya.ttf') format('truetype'),
         url('../font/Mini/minijianyaya.svg#Mini') format('svg');
}

.line_in_circle {
    border: 1px solid WHITE;
    width: 70%;
    position: absolute;
    top: 48%;
    right: 10%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.en_in_circle {
    cursor: default;
    font-size: 1.1vw;
    font-family: Raleway;
    color: WHITE;
    position: absolute;
    top: 55%;
    right: 30%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/raleway-regular-webfont.eot');
    src: local('☺'),
         url('../font/Raleway/raleway-regular-webfont.woff') format('woff'),
         url('../font/Raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../font/Raleway/raleway-regular-webfont.svg#Raleway') format('svg');
}

.img_in_circle {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.normal_icon:hover > .cn_in_circle {
    right: 28%;
    opacity: 1;
}

.normal_icon:hover > .line_in_circle {
    opacity: 1;
}

.normal_icon:hover > .en_in_circle {
    right: 15%;
    opacity: 1;
}

.normal_icon:hover > .img_in_circle {
    opacity: 0;
}

#intro_icon {
    background-color: rgba(120, 172, 219, 1);
    left: 15%;
}

#skill_icon {
    background-color: rgba(249, 162, 52, 1);
    left: 25%;
}

#project_icon {
    background-color: rgba(107, 193, 148, 1);
    left: 35%;
}

#contact_icon {
    background-color: rgba(215, 133, 165, 1);
    left: 59%;
}

#resume_icon {
    background-color: rgba(163, 143, 195, 1);
    left: 69%;
}

#about_icon {
    background-color: rgba(234, 212, 119, 1);
    left: 79%;
}





.slide {
    height: 0;
    padding-bottom: 55%;
}

#slide-1 {
    background: linear-gradient(#82a5d3, #69b6e4);
    background: -webkit-linear-gradient(#82a5d3, #69b6e4);
    background: -moz-linear-gradient(#82a5d3, #69b6e4);
}

#slide-2 {
    background-color: WHITESMOKE;
    background-image: url('../img/slide-1_background.png');
    background-size: 100% auto;
}

#slide-3 {
    background-color: #374479;
    background-image: url('../img/slide-2_background.png');
    background-size: 100% auto;
}

#slide-4 {
    background: linear-gradient(#fff, #a8dfff);
    background: -webkit-linear-gradient(#fff, #a8dfff);
    background: -moz-linear-gradient(#fff, #a8dfff);
}

.border_connector {
    z-index: -100;
    width: 100%;
    margin-bottom: 9.9%;
    position: relative;
}
    
.connector_img {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
    
.content_background {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.content_container {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 55%;
    overflow: hidden;
    position: relative;
}

.content {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#content_1 {
    z-index: 10;
}

.invisible {
    opacity: 0;
}

#content_idle {
    width: 55%;
}
    
.content > h {
    position: absolute;
    font-family: Raleway;
    font-size: 5vw;
    color: GREY;
}

#introduction_title {
    left: 20%;
    top: 30%;
}   

#basic_info_container {
    height: 0;
    width: 24%;
    height: 60%;
    position: absolute;
    left: 16%;
    top: 10%;
    background-color: rgba(255, 255, 255, .9);
    display: none;
}
    
#basic_info_title, #detail_info_title {
    position: absolute;
    top: 0;
    height: 14%;
    width: 100%;
    background-color: #69b6e4;
}

#basic_info_title > p, #detail_info_title > p{
    font-family: Raleway-Semi-Bold;
    font-size: 2vw;
    color: WHITE;
    line-height: 14%;
}

@font-face {
    font-family: 'Raleway-Semi-Bold';
    src: url('../font/Raleway-Semi-Bold/raleway-semibold-webfont.eot');
    src: local('☺'),
         url('../font/Raleway-Semi-Bold/raleway-semibold-webfont.woff') format('woff'),
         url('../font/Raleway-Semi-Bold/raleway-semibold-webfont.ttf') format('truetype'),
         url('../font/Raleway-Semi-Bold/raleway-semibold-webfont.svg#Raleway-Semi-Bold') format('svg');
}
    
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../font/Raleway-Bold/raleway-bold-webfont.eot');
    src: local('☺'),
         url('../font/Raleway-Bold/raleway-bold-webfont.woff') format('woff'),
         url('../font/Raleway-Bold/raleway-bold-webfont.ttf') format('truetype'),
         url('../font/Raleway-Bold/raleway-bold-webfont.svg#Raleway-Bold') format('svg');
}
    
#basic_info_photo {
    position: absolute;
    top: 14%;
    height: 40%;
    width: 100%;
}

#photo_of_me {
    width: 35%;
    position: absolute;
    left: 5%;
    top: 6%;
}

#basic_info_name {
    position: absolute;
    font-family: Raleway-Semi-Bold;
    color: GREY;
    font-size: 2.1vw;
    left: 44%;
    top: 8%;
}

#basic_info_from {
    position: absolute;
    font-family: Raleway-Semi-Bold;
    color: GREY;
    font-size: 1vw;
    left: 44%;
    top: 38%;
}

.basic_info_label {
    width: calc(100% / 3);
    height: 16%;
    display: inline-block;
    position: absolute;
    top: 45%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.basic_info_label > p {
    color: WHITE;
    font-family: Raleway;
    font-size: 1.2vw;
    margin: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 8%;
}
    
#basic_info_label_1 {
    left: 0;
    background-color: #ce7c45;
    background-image: url('../img/basic_info_programmer.png');   
}

#basic_info_label_2 {
    left: calc(100% / 3);
    background-color: #148cd3;
    background-image: url('../img/basic_info_gamer.png');
}

#basic_info_label_3 {
    right: 0;
    background-color: #5bad37;
    background-image: url('../img/basic_info_music_lover.png');
}
    
#basic_info_education {
    margin: 0;
    padding: 5%;
    position: absolute;
    top: 60%;
}

#basic_info_education > p, #detail_info_description {
    color: GREY;
    font-family: Raleway;
    font-size: 1.2vw;
    text-align: left;
}

#detail_info_container {
    height: 0;
    width: 40%;
    height: 60%;
    position: absolute;
    right: 16%;
    top: 10%;
    background-color: rgba(255, 255, 255, .9);
    display: none;
}  
    
#detail_info_title {
    background-color: #a751c9;
}
    
#detail_info_description {
    position: absolute;
    top: 10%;
    padding: 5%;
}

#detail_info_category {
    position:absolute;
    width: 100%;
    height: 0;
    padding-bottom: 35%;
    bottom: 0;
}
    
.detail_info {
    width: 45%;
    padding-bottom: 15%;
    height: 0;
    margin: 1% 3%;
    position: absolute;
}

.detail_info > h {
    position: absolute;
    top: 5%;
    left: 30%;
    font-family: Raleway-Semi-Bold;
    font-size: 1.4vw;
    color: GREY;
    text-align: left;
}

.detail_info > p {
    position: absolute;
    top: 16%;
    left: 30%;
    font-family: Raleway;
    font-size: .8vw;
    color: GREY;
    text-align: left;
}

.detail_info_category_bg {
    width: 30%;
    padding-bottom: 30%;
    height: 0;
    background-image: url('../img/detail_info_category.png');
    background-size: 200%;
}

#detail_info_basic_bg {
    background-position: 0 0;
}
    
#detail_info_basic {
    left: 0;
    top: 0;
}

#detail_info_ui_design_bg {
    background-position: 100% 0;
}

#detail_info_ui_design {
    right: 0;
    top: 0;
}
    
#detail_info_web_development_bg {
    background-position: 0 100%;
}

#detail_info_web_development {
    left: 0;
    bottom: 0;
}

#detail_info_linux_bg {
    background-position: 100% 100%;
}

#detail_info_linux {
    right: 0;
    bottom: 0;
}

#skill_title {
    left: 60%;
    top: 30%;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
.skill_container {
    width: 424px;
    height: 485px;
    position: absolute;
    bottom: 0%;
    background-color: #4e4e95;
    display: none;
}

#front_end_skill {
    left: 13%;
}

#back_end_skill {
    right: 13%;
}

.knob_container {
    width: 100%;
    position: absolute;
}

#front_end_icon, #back_end_icon {
    width: 130px;
    padding-bottom: 130px;
    position: absolute;
    top: 110px;
    left: 147px;
}

#front_end_icon > img, #back_end_icon > img {
    width: 100%;
}

.skill_background {
    display: none;
}

#html5_container {
    top: 90px;
}

#css3_container {
    top: 70px;
}

#javascript_container {
    top: 50px;
}

#angularjs_container {
    top: 30px;
}

#ui_design_container {
    top: 10px;
}

#django_container {
    top: 80px;
}
    
#postgres_container {
    top: 50px;
}

#asp_dot_net_container {
    top: 20px;
}

#project_menu {
    width: 100%;
    padding-bottom: 40%;
    position: absolute;
    top: 0;
}

.project_icons {
    width: 12%;
    padding-bottom: 12%;
    background-size: 200%;
    background-image: url('../img/project_icons.png');
    display: inline-block;
    position: absolute;
    top: 20%;
}

#crabfactory_icon {
    background-position: 0 100%;
    left: 20%;
}

#todo_list_icon {
    background-position: 0 0;
    left: 44%;
}

#web_resume_icon {
    background-position: 100% 0;
    left: 66%;
}
    
#project_content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

#project_intro {
    width: 40%;
    padding-bottom: 40%;
    position: absolute;
    left: 5%;
}
    
.project_animation_standby {
    display: none;
}

#project_locator {
    position: absolute;
    left: 45%;
    top: 20%;
    width: 30%;
}

.project_locator_focus {
    -webkit-animation-name: animation_focus;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
    -moz-animation-name: animation_focus;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translateZ(0);
    animation-name: animation_focus;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}

@-webkit-keyframes animation_focus {
    from {
        -webkit-transform: scale(3) rotate(-270deg);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

@-moz-keyframes animation_focus {
    from {
        -moz-transform: scale(3) rotate(-270deg);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

@keyframes animation_focus {
    from {
        transform: scale(3) rotate(-270deg);
        opacity: 0;
    }
    to {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

.project_fade_in {
    -webkit-animation-name: animation_fade_in;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
    -moz-animation-name: animation_fade_in;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translateZ(0);
    animation-name: animation_fade_in;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}

@-webkit-keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#project_locator_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/project_locator_background.png');
    background-size: 200%;
    background-position: 0 0;
}
    
#project_snap {
    position: absolute;
    right: 20%;
    width: 25%;
    padding-bottom: 15.525%;
    top: 5%;
    background-image: url('../img/project_snap.png');
    background-position: 0 0;
    background-size: 200%;
}

.project_snap_slide_in {
    -webkit-animation-name: animation_slide_in;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
    -moz-animation-name: animation_slide_in;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translateZ(0);
    animation-name: animation_slide_in;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}

@-webkit-keyframes animation_slide_in {
    from {
        right: 5%;
        opacity: 0;
    }
    to {
        right: 20%;
        opacity: 1;
    }
}

@-moz-keyframes animation_slide_in {
    from {
        right: 5%;
        opacity: 0;
    }
    to {
        right: 20%;
        opacity: 1;
    }
}

@keyframes animation_slide_in {
    from {
        right: 5%;
        opacity: 0;
    }
    to {
        right: 20%;
        opacity: 1;
    }
}

#project_description {
    position: absolute;
    left: 50%;
    width: auto;
    top: 40%;
    height: auto;
    background-color: WHITE;
    border: solid 1px #6db8e5;
    padding: 0 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
    
.project_description_flip {
    -webkit-animation-name: animation_flip;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
    -moz-animation-name: animation_flip;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translateZ(0);
    animation-name: animation_flip;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}

@-webkit-keyframes animation_flip {
    from {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    to {
        right: rotateX(0deg);
        opacity: 1;
    }
}

@-moz-keyframes animation_flip {
    from {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    to {
        right: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes animation_flip {
    from {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    to {
        right: rotateX(0deg);
        opacity: 1;
    }
}

#project_description > p {
    text-align: left;
    font-size: 1.2vw;
    color: #6db8e5;
}

#project_back {
    position: absolute;
    left: 80%;
    width: 150px;
    top: 65%;
    height: 50px;
    line-height: 50px;
    border: solid 1px #6db8e5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #6db8e5;
    font-size: 2vw;
    cursor: default;
}