body {
    margin: auto;
    width: 100%;
    height: 100%;
}

.preload {
    -webkit_transition: none !important;
    -moz_transition: none !important;
    transition: none !important;
}

#menu_bar {
    margin: auto;
    width: 100%;
    background-color: WHITESMOKE;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 125px;
}

.circle {
    height: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.normal_icon {
    width: 6%;
    padding-bottom: 6%;
    position: absolute;
    bottom: 20%;
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

#center_icon, #center_icon_shadow {
    margin: auto;
    position: absolute;
    bottom: 10%;
    left: 46%;
    width: 8%;
    padding-bottom: 8%;
    border: solid 2px rgba(0, 0, 0, .5);
}

#center_icon {
    -webkit-box-shadow: 0 0 10px BLACK;
    -moz-box-shadow: 0 0 10px BLACK;
    box-shadow: 0 0 10px BLACK;
}

#center_img {
    width: 100%;
    height: 100%;
}

#center_icon_shadow_lalala {
    -webkit-animation-name: animation_shadow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -moz-animation-name: animation_shadow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-play-state: running;
    animation-name: animation_shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes animation_shadow {
    from {
        -webkit-transform: scale(1);
        opacity: .5;
    }
    to {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes animation_shadow {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes animation_shadow {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

.cn_in_circle {
    cursor: default;
    font-family: Mini;
    font-size: 1.6vw;
    color: WHITE;
    position: absolute;
    top: 15%;
    right: 5%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@font-face {
    font-family: 'Mini';
    src: url('../font/Mini/minijianyaya.eot');
    src: local('☺'),
         url('../font/Mini/minijianyaya.woff') format('woff'),
         url('../font/Mini/minijianyaya.ttf') format('truetype'),
         url('../font/Mini/minijianyaya.svg#Mini') format('svg');
}

.line_in_circle {
    border: 1px solid WHITE;
    width: 70%;
    position: absolute;
    top: 48%;
    right: 10%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.en_in_circle {
    cursor: default;
    font-size: 1.1vw;
    font-family: Raleway;
    color: WHITE;
    position: absolute;
    top: 55%;
    right: 30%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/raleway-regular-webfont.eot');
    src: local('☺'),
         url('../font/Raleway/raleway-regular-webfont.woff') format('woff'),
         url('../font/Raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('../font/Raleway/raleway-regular-webfont.svg#Raleway') format('svg');
}

.img_in_circle {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.normal_icon:hover > .cn_in_circle {
    right: 28%;
    opacity: 1;
}

.normal_icon:hover > .line_in_circle {
    opacity: 1;
}

.normal_icon:hover > .en_in_circle {
    right: 15%;
    opacity: 1;
}

.normal_icon:hover > .img_in_circle {
    opacity: 0;
}

#intro_icon {
    background-color: rgba(120, 172, 219, 1);
    left: 15%;
}

#skill_icon {
    background-color: rgba(249, 162, 52, 1);
    left: 25%;
}

#project_icon {
    background-color: rgba(107, 193, 148, 1);
    left: 35%;
}

#contact_icon {
    background-color: rgba(215, 133, 165, 1);
    left: 59%;
}

#resume_icon {
    background-color: rgba(163, 143, 195, 1);
    left: 69%;
}

#about_icon {
    background-color: rgba(209, 28, 17, 1);
    left: 79%;
}





.slide {
    height: 35%;
    min-height: 400px;
}

#slide-1 {
    background: linear-gradient(#82a5d3, #69b6e4);
    background: -webkit-linear-gradient(#82a5d3, #69b6e4);
    background: -moz-linear-gradient(#82a5d3, #69b6e4);
}

#slide-2 {
    background: linear-gradient(#fff, #a8dfff);
    background: -webkit-linear-gradient(#fff, #a8dfff);
    background: -moz-linear-gradient(#fff, #a8dfff);
}

#slide-3 {
    background: linear-gradient(#607ba0, #69b6e4);
    background: -webkit-linear-gradient(#607ba0, #69b6e4);
    background: -moz-linear-gradient(#607ba0, #69b6e4);
}

#slide-4 {
    background: linear-gradient(#fff, #a8dfff);
    background: -webkit-linear-gradient(#fff, #a8dfff);
    background: -moz-linear-gradient(#fff, #a8dfff);
}

.border_connector {
    z-index: -100;
    width: 100%;
    margin-bottom: 9.9%;
    position: relative;
}
    
.connector_img {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
    
.content_background {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.content_container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.content {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

#content_1 {
    z-index: 10;
}

.invisible {
    opacity: 0;
}

#content_idle {
    width: 55%;
}

#photo_container {
    width: 45%;
    position: absolute;
    left: 8%;
    top: 0%;
    background-image: url("../img/photo_container.png");
    background-size: contain;
}

#photo_of_me {
    width: 40%;
    margin-top: 4%;
    margin-bottom: 3%;
    -webkit-box-shadow: 2px 2px 15px BLACK;
    -moz-box-shadow: 2px 2px 15px BLACK;
    box-shadow: 2px 2px 15px BLACK;
}

#intro_tip_container {
    width: 24%;
    padding-bottom: 30%;
    position: absolute;
    right: 16%;
    top: 0%;
}

#intro_tip_1, #intro_tip_2 {
    background-color: WHITE;
    width: 80%;
    padding: 5%;
    font-size: 1.1vw;
    font-family: Raleway-Bold;
    color: #1274ac;
    text-align: left;
    position: relative;
    -webkit-box-shadow: 2px 2px 6px BLACK;
    -moz-box-shadow: 2px 2px 6px BLACK;
    box-shadow: 2px 2px 6px BLACK;
}
    
#intro_tip_1 {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    transform: rotate(7deg);
    top: 20px;
}

#intro_tip_1 > p, #intro_tip_2 > p {
    margin: 3px;
}
    
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../font/Raleway-Bold/raleway-bold-webfont.eot');
    src: local('☺'),
         url('../font/Raleway-Bold/raleway-bold-webfont.woff') format('woff'),
         url('../font/Raleway-Bold/raleway-bold-webfont.ttf') format('truetype'),
         url('../font/Raleway-Bold/raleway-bold-webfont.svg#Raleway') format('svg');
}

#intro_tip_2 {
    margin-top: 30%;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.skill_container {
    width: 424px;
    height: 485px;
    position: absolute;
    bottom: 0%;
}

#front_end_skill {
    left: 13%;
}

#back_end_skill {
    right: 13%;
}

.knob_container {
    width: 100%;
    position: absolute;
}

#front_end_icon, #back_end_icon {
    width: 130px;
    padding-bottom: 130px;
    position: absolute;
    top: 110px;
    left: 147px;
}

#front_end_icon > img, #back_end_icon > img {
    width: 100%;
}

.skill_background {
    display: none;
}

#html5_container {
    top: 90px;
}

#css3_container {
    top: 70px;
}

#javascript_container {
    top: 50px;
}

#angularjs_container {
    top: 30px;
}

#ui_design_container {
    top: 10px;
}

#django_container {
    top: 80px;
}
    
#postgres_container {
    top: 50px;
}

#asp_dot_net_container {
    top: 20px;
}

#project_menu {
    display: none;
}

#project_content {
    width: 100%;
    height: 100%;
    position: relative;
}

#project_intro {
    width: 50%;
    padding-bottom: 50%;
    position: absolute;
    left: 0;
}

#project_locator {
    position: absolute;
    left: 45%;
    top: 20%;
    width: 30%;
}

.project_animation_play {
    -webkit-animation-name: project_animation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
}

@-webkit-keyframes project_animation {
    from {
        #project_locator {
            -webkit-transform: scale(3) rotate(-180deg);
            opacity: 0;
        }
    }
    to {
        #project_locator {
            -webkit-transform: scale(1) rotate(0deg);
            opacity: 1;
        }
    }
}

.project_locator_focus {
    -webkit-animation-name: animation_focus;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
    -moz-animation-name: animation_focus;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translateZ(0);
    animation-name: animation_focus;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}

@-webkit-keyframes animation_focus {
    from {
        -webkit-transform: scale(3) rotate(-180deg);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

@-moz-keyframes animation_focus {
    from {
        -moz-transform: scale(3) rotate(-180deg);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

@keyframes animation_focus {
    from {
        transform: scale(3) rotate(-180deg);
        opacity: 0;
    }
    to {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}

.project_fade_in {
    -webkit-animation-name: animation_fade_in;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
    -moz-animation-name: animation_fade_in;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translateZ(0);
    animation-name: animation_fade_in;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}

@-webkit-keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animation_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#project_locator_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/project_locator_background.png');
    background-size: 200%;
    background-position: 0 0;
}

#project_logo {
    position: absolute;
    width: 30%;
    padding-bottom: 30%;
    left: 45%;
    top: 20%;
    background-image: url('../img/project_icons.png');
    background-position: 0 0;
    background-size: 200%;
}
    
#project_snap {
    position: absolute;
    right: 15%;
    width: 30%;
    padding-bottom: 18.75%;
    top: 5%;
    background-image: url('../img/project_snap.png');
    background-position: 0 0;
    background-size: 200%;
}

.project_snap_slide_in {
    -webkit-animation-name: animation_slide_in;
    -webkit-animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform: translateZ(0);
    -moz-animation-name: animation_slide_in;
    -moz-animation-duration: .8s;
    -moz-animation-iteration-count: 1;
    -moz-transform: translateZ(0);
    animation-name: animation_slide_in;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}

@-webkit-keyframes animation_slide_in {
    from {
        right: 5%;
        opacity: 0;
    }
    to {
        right: 15%;
        opacity: 1;
    }
}

@-moz-keyframes animation_slide_in {
    from {
        right: 5%;
        opacity: 0;
    }
    to {
        right: 15%;
        opacity: 1;
    }
}

@keyframes animation_slide_in {
    from {
        right: 5%;
        opacity: 0;
    }
    to {
        right: 15%;
        opacity: 1;
    }
}

#project_description {
    position: absolute;
    right: 25%;
    width: 30%;
    top: 42%;
    height: auto;
}

#project_description > p {
    text-align: left;
}
