{% load static from staticfiles %}
{% load url from future %}
<html>
    <head>
        <title>画廊</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/jcarousel.connected-carousels.css" %}">
        <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    </head>
    <body>
        <div id="top_navigation_holder">
            <div id="top_navigation_wrapper">
                <div id="logo">
                    <img src="{% static "img/logo.jpg" %}">
                </div>
                <nav id="top_navigation">
                    <ul>
                        {% for category in categories %}
                          <li class="navigation_link {% if category == current_category %}active{% endif %}">
                              <a href="/gallery/cn/{{ category.name }}">{{ category.name_cn }}</a>
                          </li>
                        {% endfor %}
                        <li class="navigation_link">
                            <a href="/gallery/cn/motion">动画</a>
                        </li>
                        <li class="navigation_link">
                            <a href="/gallery/">English</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="content">
            <div class="connected-carousels">
                <div class="stage">
                    <div class="carousel carousel-stage">
                        <ul>
                            {% for image in images %}
                              <li><img src="{{ image.image_file.url }}" alt=""><p></p><p>{{ image.description_cn|safe }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="photo-title">
                    </p>
                    <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                    <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
                </div>
                <div class="navigation-wrapper">
                    <div class="navigation">
                        <a href="#" class="prev prev-navigation">&lsaquo;</a>
                        <a href="#" class="next next-navigation">&rsaquo;</a>
                        <div class="carousel carousel-navigation">
                            <ul>
                              {% for image in images %}
                                <li><img src="{{ image.image_file.url }}" width="50" height="50" alt=""></li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <p class="photo-description">
                        {{ images.0.description_cn|safe }}
                    </p>
                </div>
            </div>
        </div>
        <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
        <script src="{% static "js/jquery.jcarousel.min.js" %}"></script>
        <script src="{% static "js/carousel-controll.js" %}"></script>
    </body>
    <footer>与我联系: <a href="mailto:ssui@inside.artcenter.edu">ssui@inside.artcenter.edu</a><br>
      未经许可不得使用任何图像<br>
      随思聪 2016
    </footer>
</html>
