{% load static from staticfiles %}
{% load url from future %}
<html>
    <head>
        <title>画廊</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="shortcut icon" href="{% static "favicon.ico" %}"/>
    </head>
    <body>
        <div id="top_navigation_holder">
            <div id="top_navigation_wrapper">
                <div id="logo">
                    <img src="{% static "img/logo.jpg" %}">
                </div>
                <nav id="top_navigation">
                    <ul>
                        {% for category in categories %}
                          <li class="navigation_link">
                              <a href="/gallery/cn/{{ category.name }}">{{ category.name_cn }}</a>
                          </li>
                        {% endfor %}
                        <li class="navigation_link active">
                            <a href="/gallery/cn/motion">动画</a>
                        </li>
                        <li class="navigation_link">
                            <a href="/gallery/">English</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="content">
            <iframe width="600" height="400" src="http://v.youku.com/v_show/id_XMTU1ODkxNzUyNA==.html" frameborder="0" allowfullscreen></iframe>
        </div>
        <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    </body>
    <footer>与我联系: <a href="mailto:ssui@inside.artcenter.edu">ssui@inside.artcenter.edu</a><br>
      未经许可不得使用任何图像<br>
      随思聪 插画 2016
    </footer>
</html>
