{% load static %}
{% load url from future %}
<html>
	<head>
	<title>{{ title }}</title>
	<link rel="stylesheet/less" type="text/css" href="{% get_static_prefix %}todolist/css/static.less"/>
	{% block extrastyle %}
	{% endblock %}
	</head>
	<body>
		<div class="headerwrapper">
	        <div class="header">
	            <div class="navigation">
	                <a href="{% url 'todo_login' %}" class="item">LOG IN</a>
	                <p class="item">|</p>
	                <a href="{% url 'todo_reg' %}" class="item">REGISTER</a>
	            </div>
	            <a class="logo" href="Entry"><img src="{% get_static_prefix %}todolist/img/logo.png" alt="Logo"/></a>
	        </div>
        </div>
        {% block content %}
        {% endblock %}
        <script src="{% get_static_prefix %}todolist/js/less-1.4.1.min.js"></script>
        {% block extrajs %}
        {% endblock %}
	</body>
</html>