{% load static %}
{% load url from future %}
<!DOCTYPE html>
<html ng-app="webresumeApp">
<head>
    <link rel="stylesheet" href="{% get_static_prefix %}webresume/css/edit.css" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:600|Nunito:700|Oswald:700' rel='stylesheet' type='text/css'>
    <script>
        urls = {
            person: '{% url "person_list" %}',
            education: '{% url "education_list" %}',
            work_experience: '{% url "work_experience_list" %}',
            skill: '{% url "skill_list" %}',
            project: '{% url "project_list" %}',
        }
    </script>
    <script src="{% get_static_prefix %}library/underscore-min.js"/></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
</head>

{% verbatim %}
<body>
    <div id="sidebar">
        <a class="side_title" href="#person">Introduction</a>
        <a class="side_title">Skills</a>
        <a class="side_title" href="#education_title">Educations</a>
        <ul ng-controller="EducationCtrl">
            <li ng-repeat="education in educations">
                <a href="#education_{{ education.id }}">{{ education.name }}</a>
            </li>
        </ul>
        <a class="side_title" href="#work_experience_title">Work Experience</a>
        <ul ng-controller="WorkExperienceCtrl">
            <li ng-repeat="work_experience in work_experiences">
                <a href="#work_experience_{{ work_experience.id }}">{{ work_experience.name }}</a>
            </li>
        </ul>
        <a class="side_title" href="#project_title">Projects</a>
        <ul ng-controller="ProjectCtrl">
            <li ng-repeat="project in projects">
                <a href="#project_{{ project.id }}">{{ project.name }}</a>
            </li>
        </ul>
    </div>

    <div id="container">
        <div id="person" ng-controller="PersonCtrl">
            <form name="person_form" id="person" ng-submit="save(person)">
                <input type="text" ng-model="person.first_name" ng-hide="!editing" ng-class="{ editing: editing }" class="person_name" name="first_name" ng-readonly="!editing" required>
                <input type="text" ng-model="person.last_name" ng-hide="!editing" ng-class="{ editing: editing }" class="person_name" name="last_name" ng-readonly="!editing" required>
                <p ng-hide="editing" class="person_name">{{ person.first_name }} {{ person.last_name }}</p>
                <input type="email" ng-model="person.email" ng-class="{ editing: editing }" class="person_email" name="email" ng-readonly="!editing" required>
                <textarea type="text" ng-model="person.description" ng-class="{ editing: editing }" class="person_description" name="description" ng-readonly="!editing"></textarea>
                <p id="public_label">Public:</p>
                <input type="checkbox" ng-model="person.public" ng-class="{ editing: editing }" class="person_public" name="public" ng-disabled="!editing">
                <button type="button" ng-hide="editing" ng-click="editing=true;edit(person)">Edit</button>
                <button type="submit" ng-hide="!editing">Save</button>
                <button type="button" ng-hide="!editing" ng-click="editing=false;cancel()">Cancel</button>
            </form>
        </div>
        <p id="education_title" class="ctn_title">Education</p>
        <ul ng-controller="EducationCtrl">
            <li ng-repeat="education in educations | orderBy:'start_date'">
                <form name="education_form" id="education_{{ education.id}}" ng-submit="save(education)">
                    <input type="text" ng-model="education.name" ng-class="{ editing: editing }" class="education_name" name="name" ng-readonly="!editing" required>
                    <input type="date" ng-model="education.start_date" ng-hide="!editing" ng-class="{ editing: editing }" class="education_start_date" name="start_date" ng-readonly="!editing" required>
                    <input type="date" ng-model="education.end_date" ng-hide="!editing" ng-class="{ editing: editing }" class="education_end_date" name="end_date" ng-readonly="!editing">
                    <p ng-hide="editing" class="education_time">{{ education.start_date }} - {{ education.end_date }}</p>
                    <input type="text" ng-model="education.major" ng-class="{ editing: editing }" class="education_major" name="major" ng-readonly="!editing" required>
                    <input type="text" ng-model="education.degree" ng-class="{ editing: editing }" class="education_degree" name="degree" ng-readonly="!editing" required>
                    <button type="button" ng-hide="editing" ng-click="editing=true;edit(education)">Edit</button>
                    <button type="submit" ng-hide="!editing" ng-click="editing=false">Save</button>
                    <button type="button" ng-hide="!editing" ng-click="editing=false;cancel(education)">Cancel</button>
                    <button type="button" ng-hide="editing" ng-click="remove(education)">Remove</button>
                </form>
            </li>
            <li>
                <form name="new_education_form" ng-submit="add(new_education)">
                    <input type="text" ng-model="new_education.name" name="name" required>
                    <input type="date" ng-model="new_education.start_date" name="start_date" required>
                    <input type="date" ng-model="new_education.end_date" name="end_date">
                    <input type="text" ng-model="new_education.major" name="major" required>
                    <input type="text" ng-model="new_education.degree" name="degree" required>
                    <button type="submit">Add</button>
                </form>
            </li>
        </ul>
        <p id="work_experience_title" class="ctn_title">Work Experience</p>
        <ul ng-controller="WorkExperienceCtrl">
            <li ng-repeat="work_experience in work_experiences | orderBy:'start_date'">
                <form name="work_experience_form" id="work_experience_{{ work_experience.id }}" ng-submit="save(work_experience)">
                    <input type="text" ng-model="work_experience.name" name="name" ng-readonly="!editing" required>
                    <input type="text" ng-model="work_experience.title" name="title" ng-readonly="!editing" required>
                    <input type="text" ng-model="work_experience.website" name="website" ng-readonly="!editing">
                    <input type="date" ng-model="work_experience.start_date" name="start_date" ng-readonly="!editing" required>
                    <input type="date" ng-model="work_experience.end_date" name="end_date" ng-readonly="!editing">
                    <input type="text" ng-model="work_experience.description" name="description" ng-readonly="!editing">
                    <button type="button" ng-hide="editing" ng-click="editing=true;edit(work_experience)">Edit</button>
                    <button type="submit" ng-hide="!editing" ng-click="editing=false">Save</button>
                    <button type="button" ng-hide="!editing" ng-click="editing=false;cancel(work_experience)">Cancel</button>
                    <button type="button" ng-hide="editing" ng-click="remove(work_experience)">Remove</button>
                </form>
            </li>
            <li>
                <form name="new_work_experience_form" ng-submit="add(new_work_experience)">
                    <input type="text" ng-model="new_work_experience.name" name="name" required>
                    <input type="text" ng-model="new_work_experience.title" name="title" required>
                    <input type="text" ng-model="new_work_experience.website" name="website">
                    <input type="date" ng-model="new_work_experience.start_date" name="start_date" required>
                    <input type="date" ng-model="new_work_experience.end_date" name="end_date">
                    <input type="text" ng-model="new_work_experience.description" name="description">
                    <button type="submit">Add</button>
                </form>
            </li>
        </ul>
        <p id="project_title" class="ctn_title">Project</p>
        <ul ng-controller="ProjectCtrl">
            <li ng-repeat="project in projects | orderBy:'start_date'">
                <form name="project_form" id="project_{{ project.id }}" ng-submit="save(project)">
                    <input type="text" ng-model="project.name" name="name" ng-readonly="!editing" required>
                    <input type="text" ng-model="project.website" name="website" ng-readonly="!editing">
                    <input type="date" ng-model="project.start_date" name="start_date" ng-readonly="!editing" required>
                    <input type="date" ng-model="project.end_date" name="end_date" ng-readonly="!editing" required>
                    <input type="text" ng-model="project.description" name="description" ng-readonly="!editing">
                    <button type="button" ng-hide="editing" ng-click="editing=true;edit(project)">Edit</button>
                    <button type="submit" ng-hide="!editing" ng-click="editing=false">Save</button>
                    <button type="button" ng-hide="!editing" ng-click="editing=false;cancel(project)">Cancel</button>
                    <button type="button" ng-hide="editing" ng-click="remove(project)">Remove</button>
                </form>
            </li>
            <li>
                <form name="new_project_form" ng-submit="add(new_project)">
                    <input type="text" ng-model="new_project.name" name="name" required>
                    <input type="text" ng-model="new_project.website" name="website">
                    <input type="date" ng-model="new_project.start_date" name="start_date" required>
                    <input type="date" ng-model="new_project.end_date" name="end_date" required>
                    <input type="text" ng-model="new_project.description" name="description">
                    <button type="submit">Add</button>
                </form>
            </li>
        </ul>
    </div>
</body>
{% endverbatim %}
<script>
var app = angular.module('webresumeApp', ['ngResource', 'ngRoute']);
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
<script src="{% get_static_prefix %}webresume/js/edit_ctrl.js"></script>
</html>
