{% load static %}
{% load url from future %}
<!DOCTYPE html>
<html ng-app="webresumeApp">
<head>
    <script>
        urls = {
            person: '{% url "person_list" %}',
            education: '{% url "education_list" %}',
            work_experience: '{% url "work_experience_list" %}',
            skill: '{% url "skill_list" %}',
            project: '{% url "project_list" %}',
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% get_static_prefix %}library/underscore-min.js"/></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
</head>

{% verbatim %}
<body>
    <div>
        <span>Intro</span>
        <span>Skills</span>
        <span>Educations</span>
        <ul ng-controller="EducationCtrl">
            <li ng-repeat="education in educations">
                {{ education.name }}
            </li>
        </ul>
    </div>

    <div>
        <span>Education</span>
        <ul ng-controller="EducationCtrl">
            <li ng-repeat="education in educations | orderBy:'start_date'">
                <form name="education_form" ng-submit="save(education)">
                    <input type="text" ng-model="education.name" ng-readonly="!editing" required>
                    <input type="date" ng-model="education.start_date" name="start_date" ng-readonly="!editing" required>
                    <input type="date" ng-model="education.end_date" name="end_date" ng-readonly="!editing" required>
                    <input type="text" ng-model="education.major" name="major" ng-readonly="!editing" required>
                    <input type="text" ng-model="education.degree" name="degree" ng-readonly="!editing" required>
                    <button type="button" ng-hide="editing" ng-click="editing=true;edit(education)">Edit</button>
                    <button type="submit" ng-hide="!editing" ng-click="editing=false">Save</button>
                    <button type="button" ng-hide="!editing" ng-click="editing=false;cancel(education)">Cancel</button>
                    <button type="button" ng-hide="editing" ng-click="remove(education)">Remove</button>
                </form>
            </li>
            <li>
                <form name="new_education_form" ng-submit="add(new_education)">
                    <input type="text" ng-model="new_education.name" name="name" required>
                    <input type="date" ng-model="new_education.start_date" name="start_date" required>
                    <input type="date" ng-model="new_education.end_date" name="end_date">
                    <input type="text" ng-model="new_education.major" name="major" required>
                    <input type="text" ng-model="new_education.degree" name="degree" required>
                    <button type="submit">Save</button>
                </form>
            </li>
        </ul>
    </div>
</body>
{% endverbatim %}
<script>
var app = angular.module('webresumeApp', ['ngResource', 'ngRoute']);
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
<script src="{% get_static_prefix %}webresume/js/controllers.js"></script>
</html>
